h1 {
    font-family: 'Roboto', sans-serif;
}
nav .panaderia{
    font-family:'TangoSans';
    src: url(../assets/font/TangoSans.ttf); 
    font-style: normal;
    font-weight: normal;
}
nav .panaderia summary {
    font-weight: bold;
    color: #FFC300 ;
}
nav .panaderia ol .pan-dulce{
    color:#DE2819  ;
    font-weight:bold;
}
nav .panaderia ol .pan-salado{
    color: #013AFD;
    font-weight:bold;
}nav .panaderia ol .pan-relleno{
    color:#DC4B1A;
    font-weight:bold;
}
nav .panaderia ol li {
    font-weight: bold;
    color: #262729;
}
nav .panaderia ol li a{
    text-decoration: none;
    color: #262729 ;
    font-weight:bold;
}
nav .pasteleria {
    font-family: 'ABeeZee', sans-serif;
    font-family: 'Anek Telugu', sans-serif;
    font-weight: bold;
}
.slider-container { 
    width: auto;
    height: auto;
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    overflow-x: hidden;
}
.slider-image{
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}
.list-botones{
    margin-top: 10px;
    text-align: center;
}
.slider-item{
    display: inline-block;
    inline-size: 20px;
    block-size: 20px;
    background-color: black;
    border-radius: 50%;
}